#logo{
  position: absolute;
  top: 40%;
  left: 25%;
  animation: fill 0.5s ease forwards 3s;
}
#logo path:nth-child(1){
  stroke-dasharray: 349.7790832519531;
  stroke-dashoffset: 349.7790832519531;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2){
  stroke-dasharray: 312;
  stroke-dashoffset: 312;
  animation: line-anim 2s ease forwards 0.2s;
}
#logo path:nth-child(3){
  stroke-dasharray: 406;
  stroke-dashoffset: 406;
  animation: line-anim 2s ease forwards 0.4s;
}
#logo path:nth-child(4){
  stroke-dasharray: 339;
  stroke-dashoffset: 339;
  animation: line-anim 2s ease forwards 0.6s;
}
#logo path:nth-child(5){
  stroke-dasharray: 312;
  stroke-dashoffset: 312;
  animation: line-anim 2s ease forwards 0.8s;
}
#logo path:nth-child(6){
  stroke-dasharray: 364;
  stroke-dashoffset: 364;
  animation: line-anim 2s ease forwards 1.0s;
}
#logo path:nth-child(7){
  stroke-dasharray: 312;
  stroke-dashoffset: 312;
  animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(8){
  stroke-dasharray: 315;
  stroke-dashoffset: 315;
  animation: line-anim 2s ease forwards 1.4s;
}
#logo path:nth-child(9){
  stroke-dasharray: 245;
  stroke-dashoffset: 245;
  animation: line-anim 2s ease forwards 1.6s;
}
#logo path:nth-child(10){
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  animation: line-anim 2s ease forwards 1.8s;
}
#logo path:nth-child(11){
  stroke-dasharray: 307;
  stroke-dashoffset: 307;
  animation: line-anim 2s ease forwards 2.0s;
}
#logo path:nth-child(12){
  stroke-dasharray: 349;
  stroke-dashoffset: 349;
  animation: line-anim 2s ease forwards 2.2s;
}
@keyframes line-anim{
  to{
    stroke-dashoffset: 0;
  }
}
@keyframes fill{
  from{
    fill:#0a192f;
  }
  to{
    fill: white;
  }
}
.topnav {
  position: static;
  background-color: #0a192f;

  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  color:#64ffda;
  opacity: 80%;
  text-align: center;
  text-decoration: none;
  font-family: 'Source Code Pro', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  
}

.topnav a{
  padding: 20px 24px;
  float: right;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #0a192f;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
}

body{
  margin: 0;
}
.fwh-slide{
  height: 40vh;
  background-color: #0a192f;
  box-sizing: border box;
  padding: 200px;
  
}
body { counter-reset: H1; } 	/* Create the counter for H1 */
h1:before {
  content: counter(H1) ". "; 	/* Print the H1 number */
  counter-increment: H1; 	/* Add 1 to next H1 */
}
h1 { counter-reset: H2; }
h2:before {
  content: counter(H1) "." counter(H2) " ";
  counter-increment: H2;
}
h2 { counter-reset: H3; }
h3:before {
  content: counter(H1) "." counter(H2) "." counter(H3) " ";
  counter-increment:H3;
}
.a{
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
}
/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

body{
  margin: 0;
  background-color:#0a192f;  
}

p{
  font-family: 'Source Code Pro', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 0 px;

  color: #64ffda;
}
p2{
  font-family: Calibre, "San Francisco", "SF Pro Text", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 70.8px;
  line-height: 00px;

  color:#CCD6F6;
}
p3{
  font-family: Calibre, "San Francisco", "SF Pro Text", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 70.8px;
  line-height: 80px;

  color: #a8b2d1;
}
@keyframes transitionIn{
  from{
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to{
    opacity: 1;
    transform: rotateX(0);
  }
}

.main{
  animation: transitionIn 0.75s;
  margin: 10px;
  width: 50px;
}

h2{
  font-family: "verdana";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 4px;
}

a{
  font-family: "verdana";

}
.main{
  position: absolute;
  width: 780px;
  height: 440px;
  left: 200px;
  top: 150px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 27px;
  color: #000000;

}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container.box{
  position: relative;
  width: 350px;
  padding:40px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  border-radius: 4px;
}

h1 {
  text-align: center;
  font-family: Calibre, "San Francisco", "SF Pro Text", sans-serif;
  color: #CCD6F6;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;

}
/*  Responsive social media menu */
.social-menu{
  margin-bottom: 80px;
}
.social-menu ul {
  position: absolute;
  top: 40%;
  left: 7%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
}
.social-menu ul li {
  list-style: none;
  margin: 0 10px;
}
.social-menu ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: .5s;
}
.social-menu ul li .fa:hover {
  color: #ffffff;

}
.social-menu ul li a {
  position: relative;
  margin: 10px;
  top: 80px;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0,0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #cd201f;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #0077B5;
}