#logo{
  position: absolute;
  top: 40%;
  left: 25%;
  animation: fill 0.5s ease forwards 3s;
}
#logo path:nth-child(1){
  stroke-dasharray: 349.7790832519531;
  stroke-dashoffset: 349.7790832519531;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2){
  stroke-dasharray: 312;
  stroke-dashoffset: 312;
  animation: line-anim 2s ease forwards 0.2s;
}
#logo path:nth-child(3){
  stroke-dasharray: 406;
  stroke-dashoffset: 406;
  animation: line-anim 2s ease forwards 0.4s;
}
#logo path:nth-child(4){
  stroke-dasharray: 339;
  stroke-dashoffset: 339;
  animation: line-anim 2s ease forwards 0.6s;
}
#logo path:nth-child(5){
  stroke-dasharray: 312;
  stroke-dashoffset: 312;
  animation: line-anim 2s ease forwards 0.8s;
}
#logo path:nth-child(6){
  stroke-dasharray: 364;
  stroke-dashoffset: 364;
  animation: line-anim 2s ease forwards 1.0s;
}
#logo path:nth-child(7){
  stroke-dasharray: 312;
  stroke-dashoffset: 312;
  animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(8){
  stroke-dasharray: 315;
  stroke-dashoffset: 315;
  animation: line-anim 2s ease forwards 1.4s;
}
#logo path:nth-child(9){
  stroke-dasharray: 245;
  stroke-dashoffset: 245;
  animation: line-anim 2s ease forwards 1.6s;
}
#logo path:nth-child(10){
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  animation: line-anim 2s ease forwards 1.8s;
}
#logo path:nth-child(11){
  stroke-dasharray: 307;
  stroke-dashoffset: 307;
  animation: line-anim 2s ease forwards 2.0s;
}
#logo path:nth-child(12){
  stroke-dasharray: 349;
  stroke-dashoffset: 349;
  animation: line-anim 2s ease forwards 2.2s;
}
@keyframes line-anim{
  to{
    stroke-dashoffset: 0;
  }
}
@keyframes fill{
  from{
    fill:#0a192f;
  }
  to{
    fill: white;
  }
}
/* Welcome image */
img {
  position: absolute;
  top: 150px;
  left: 900px;
  width: 400px;
  height: 400px;
  animation: img 0.85s;
  
}

@keyframes img {
  from {
    opacity: 0;
    transform: translateX(40px);
  }

  to {
    opacity: 1;
    transform: rotateY(0);
  }
}
img:hover {
    opacity: 0.5;
}
/* Scrolling effect */
html {
  scroll-behavior: smooth;
}
/*Parallax Effect */
.container{
  padding-top: 100px;
  max-width: 950 px;
  margin: 0 auto;
  background: #0000;
}
.parallax{
  background: url('./img/code.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
}
.cbox{
  border-radius: 25px;
  background: #0a192f;
  padding: 20px;
  width: 400px;
  height: 150px;
  position: absolute;
  top: 1650px;
  left: 520px;
}
/* Style the links inside the navigation bar */
.topnav {
  position: static;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
}
.topnav a:before{
  color:#64ffda;
  opacity: 80%;
  text-align: center;
  text-decoration: none;
  font-family: 'Source Code Pro', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
.topnav a {
  display:inline-block;
  padding:10px;
  color:#64ffda;
  opacity: 80%;
  text-align: center;
  text-decoration: none;
  font-family: 'Source Code Pro', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
.topnav ul{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}
.topnav ul li{
  margin:  2rem;
  padding: 2rem;
}
.topnav ul li a{
  padding: 20px;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
}
/* Change the color of links on hover */
.topnav a:hover {
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
}

body{
  margin: 0;
}
.fwh-slide{
  height: 30vh;
  background-color: #0a192f;
  box-sizing: border box;
  padding: 200px;
}

/* Navigation bar counter */
body {
  counter-reset: h2counter;
}
.topnav a:before {
	content: "0" counter(h2counter) ".\0000a0\0000a0";
	counter-increment: h2counter;
	counter-reset: h3counter;
}
.a{
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
}

body{
  margin: 0;
  background-color:#0a192f;  
}
/* Heading styles */

h2{
  padding-top:50px;
  font-family: Calibre, "San Francisco", "SF Pro Text", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 00px;
  position: absolute;
  top: 820px;
  left: 75px;
  color:#CCD6F6;
}
h7 {
  font-family: Calibre, "San Francisco", "SF Pro Text", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 00px;
  position: absolute;
  top: 1700px;
  left: 600px;
  z-index: 1000;
  color:#CCD6F6;
}
p4{
  font-family: Calibre, "San Francisco", "SF Pro Text", sans-serif;
    font-style: normal;
    color:#CCD6F6;
    position: absolute;
    top: 10px;
    left: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;
    position: absolute;
    top: 1740px;
    left: 600px;
    text-align: center;
    z-index: 2000;
}
p{
  font-family: 'Source Code Pro', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 0 px;

  color: #64ffda;
}
p2{
  font-family: Calibre, "San Francisco", "SF Pro Text", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 70.8px;
  line-height: 00px;
  color:#CCD6F6;
}
p3{
  font-family: Calibre, "San Francisco", "SF Pro Text", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 70.8px;
  line-height: 80px;

  color: #a8b2d1;
}
@keyframes transitionIn{
  from{
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to{
    opacity: 1;
    transform: rotateX(0);
  }
}
.main{
  animation: transitionIn 0.75s;
  margin: 10px;
  width: 50px;
}
a{
  font-family: "verdana";

}
.main{
  position: absolute;
  width: 780px;
  height: 440px;
  left: 200px;
  top: 150px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 27px;
  color: #000000;

}

h1 {
  text-align: center;
  font-family: Calibre, "San Francisco", "SF Pro Text", sans-serif;
  color: #CCD6F6;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;

}
span:after,
span:before{
    content:"\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
}
/* Style CSS grid*/
.wrapper{
  padding-top: 190px;
  display:grid;
  grid-template-columns:1fr 2fr 1fr;
  grid-auto-rows:minmax(100px, auto);
  grid-gap:1em;
  justify-items:normal;
  align-items:normal;
  margin-left: 70px;
  margin-right: 70px;
}

.wrapper > div{
  background-size: cover;
  padding:1em;
}

.box1{
  background: url('./img/tfg.png');
  grid-column:1/3;
  grid-row: 1/3;
  border-radius: 15px 15px 50px 15px;
  border: 2px solid #64FFDA;
}

.box2{
  background-image: url("img/trillium.png");
  grid-column:3;
  grid-row:1/5;
  border-radius: 50px 15px 15px 50px;
  border: 2px solid #64FFDA;
}

.box3{
  background-image: url("img/netact.png");
  grid-column:2/3;
  grid-row:3/5;
  border-radius: 50px 50px 15px 15px;
  border: 2px solid #64FFDA;
}

.box4{
  background-image: url("img/stem.png");
  grid-column:1;
  grid-row:3/5;
  border-radius: 15px 50px 15px 15px;
  border: 2px solid #64FFDA;
}
.box1:hover, .box2:hover, .box3:hover, .box4:hover {
  background-color: #CCD6F6;
  transition: 0.25s ease-in-out;
  border: 1px solid #CCD6F6;
  cursor: pointer;
}

/*  Responsive social media menu */
.social-menu{
  margin-bottom: 80px;
}

.social-menu ul {
  position: absolute;
  top: 40%;
  left: 7%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
}

.social-menu ul li {
  list-style: none;
  margin: 0 10px;
}
.social-menu ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: .5s;
}
.social-menu ul li .fa:hover {
  color: #ffffff;
}
.social-menu ul li a {
  position: relative;
  margin: 10px;
  top: 80px;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0,0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #cd201f;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #0077B5;
}
/* Footer */
.footer{
  position: absolute;
  height: 200px;
  top: 1220px;
  left: 470px;
  width: 100%;
  color: white;
  text-align: center;
}